---
/**
 * Home page - main landing page of the site.
 * Displays introduction and links to connect with Mike Borthwick.
 *
 * @remarks
 * - Uses BaseLayout for consistent structure
 * - Provides accessible links with sufficient touch target size
 * - Mobile-friendly responsive design
 */

import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.tsx";
import About from "../components/About.tsx";
---

<BaseLayout title="Mike Borthwick - Home" description="Personal website of Mike Borthwick">
	<main id="main-content" class="flex flex-col min-h-[calc(100vh-300px)]">
		<Header />
		<About />
	</main>
</BaseLayout>
